.form__fieldset{
    background-color: #bdbcd4;
    border-radius: 10px;
    border: none;
}

.form__label{
    font-size: 20px;
    padding: 10px;
}

.form__inputAmount{
    background-color: #6dbad1;
    border-radius: 10px;
    padding: 10px;
    border: none;
    max-inline-size: 160px;
}

.form__inputAmount:invalid{
    background-color: #d16d6d;
}

.form__selectElementFrom{
    background-color: #8ff3f3;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.form__selectElementTo{
    background-color:#8ff3f3;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.form__legend{
    background-color: #9694d4;  
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.form__buttonConvert{
    background-color: #9694d4;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.form__buttonConvert:hover{
    background-color: hsl(242, 43%, 61%);
}

.form__buttonConvert:active{
    background-color: hsl(242, 43%, 51%);
}

.form__strongConvertedAmount{
    font-size: 24px;
}

.form__strongCurrencyName{
    font-size: 24px;
}


